# Remove all the caches
dataset/qm9
qm9/__pycache__
utils/__pycache__
models/__pycache__
n_body/__pycache__
n_body/dataset/__pycache__

# Ignore the data (size issues on GitHub)
qm9/data
n_body/dataset/data

.idea
data/QM9/*
assets/transformer/*
assets/test_results.json
assets/test.tar
assets/transformer_results.json
assets/test/*
data/QM9/processed/data_v3.pt
data/QM9/processed/pre_filter.pt
data/QM9/processed/pre_transform.pt
data/QM9/raw/gdb9.sdf
data/QM9/raw/gdb9.sdf.csv
data/QM9/raw/QM9_README
data/QM9/raw/uncharacterized.txt
assets/test/checkpoint_0/checkpoint
assets/test/checkpoint_0/_METADATA
assets/test/checkpoint_0/_CHECKPOINT_METADATA
assets/test.tar
assets/test_results.json
data/QM9/raw/qm9.zip
runs/*
assets/egnn/checkpoint_0/_CHECKPOINT_METADATA
assets/egnn/checkpoint_0/_METADATA
assets/qm9_EGNN/checkpoint_0/_CHECKPOINT_METADATA
assets/qm9_EGNN/checkpoint_0/_METADATA
assets/egnn/checkpoint_0/checkpoint
assets/qm9_EGNN/checkpoint_0/checkpoint
assets/log.txt
